*{
  padding: 0;
  margin: 0;
}

body{
  background-color: black;
  color:seashell;
  font-family: helvetica;
  opacity:0.9;
  font-size: 22px;
}


header{
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  background-color: black;
  height: 69px;
  border-bottom: 1px solid seashell;
  padding: 0 10px;
}
span a{
    color: seashell;
    font-size: 22px;
    padding: 20px 10px;
}

nav span{
  padding-right: 20px;
}

header img{
  height: 50px;
}

.mainsection{
  width: 1200px;
  text-align: center;
  margin: auto;
  padding-top: 69px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.herobanner{
  background-image: url("../images/img-mission-background.jpg");
  width: 1200px;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.herotext{
  background-color: black;
  width: 100%
}

.tilesection{
  width: 1000px;
  height: 700px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
}

.tilesgroup{
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
}

.tiletitle h2, .tiletitle h4,.herotext h4,.herotext h2{
  padding:10px;
}

.tile{
  padding:5px;
}
.tile img {
  width: 300px;
  height:200px;
  margin:10px;
}

.tile h4{
  padding:5px;
}

.locations{
  background-image: url("../images/img-locations-background.jpg");
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 70px;
}

.locationtilesgroup{
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.locationtile{
  width: 300px;
  background-color: black;
  margin: 15px 20px;
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
}

.locationtile p,.locationtile h3{
  margin: 22px 0;
}
.subfooter{
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


footer{
  text-align: left;
  margin: 20px;
}
